*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* utility classes */
.float_right{
  float: right;
}

.float_left{
  float: left;
}
/* fine utility classes */

body{
  background-image: url('../img/sfondo.png');
}

#container{
  width: 950px;
  margin: auto;
}

/* Inizio css relativo a header e navbar */
header{
  background-color: blue;
  width: 950px;
  height: 350px;
  margin-top: 10px;
}

nav{
  width: 950px;
  height: 45px;
  background-color: yellow;
  margin-bottom: 10px;
}
/* Fine css relativo a header e navbar */

/* Inizio parte centrale */
.central_part_container::after{
  content: "";
  display: table;
  clear: both;
}

.aside_left{
  width: 20%;
}

main{
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.aside_right{
  width: 20%;
}

.text_widget{
  width:100%;
  margin-bottom: 25px;
}

.main , .text_widget , .aside_left {
  background-color: purple;
  border-radius: 4px;
}
/* Fine parte centrale */

/* Inizio Footer */
.footer{
  background-color: orange;
  width: 950px;
  height: 140px;
  margin-bottom: 15px;
  border-radius: 4px;
}
/* Fine footer */
